.testCase {
  float: left;
  display: block;
  clear: both;
  width: 615px;
  margin-left: 30px;
  margin-bottom: 6px;
  background-color: rgb(206, 206, 206);
  text-align: center;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(56, 103, 156);
  margin-top: 12px;
  min-height: 30px;
}

.inputs {
  display: table-cell;
  vertical-align: middle;
  height: 60px;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.submitButton {
  float: right;
  margin-right: 15px;
}

form {
  min-width: 600px;
}

label {
  padding-right: 6px;
  padding-left: 6px;
}
